@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: auto;
  height: 300px;
  width: 200px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5%;
  position: relative;
}

.card .top-suit,
.card .bottom-suit {
  position: absolute;
  font-size: 50px;
}

.card .top-suit {
  top: 10px;
  left: 10px;
}

.card .bottom-suit {
  bottom: 10px;
  right: 10px;
}

.card .number {
  font-size: 70px;
  font-weight: bold;
  line-height: normal;
}
